    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: rgb(147, 146, 146);
        color: white;
    }
    
    header {
        color: #fff;
    }
    
    header p {
        font-size: 14px;
    }
    /* "./ */
    
    @keyframes rotate-heading {
        form {
            transform: rotateY(90deg);
            filter: blur(8px);
            opacity: 0;
        }
        to {
            transform: rotateY(0);
            filter: blur(0);
            opacity: 1;
        }
    }
    
    .header-img {
        position: relative;
        height: 80vh;
        background-image: url('../img/bgimage.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;
    }
    
    .header-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -2;
    }
    
    .header-text {
        display: flex;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        z-index: 5;
        padding: 10px;
        text-align: center;
        letter-spacing: 1px;
    }
    
    .header-text h1 {
        top: 60px;
        left: 60px;
        font-size: 0;
    }
    
    .header-text h1 span {
        display: inline-block;
        font-size: 45px;
        text-shadow: 2px 2px 5px #000;
        animation: rotate-heading 2s 1s linear forwards;
        opacity: 0;
    }
    
    .main-color {
        color: rgb(46, 222, 10);
    }
    
    .aboutus {
        width: 100%;
        height: 60vh;
        margin-top: 30px;
    }
    
    .aboutus-card {
        position: relative;
        height: 500px;
        text-align: center;
        background-position: center;
        background-size: cover;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
        background-image: url('../img/aboutus.jpg');
        overflow: hidden;
        z-index: 0;
    }
    
    .aboutus-card .aboutus-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -2;
        overflow: hidden;
    }
    
    .aboutus-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 5;
        color: white;
        margin: auto;
    }
    
    .aboutus-text h1 {
        top: 60px;
        left: 60px;
        font-size: 0;
    }
    
    .aboutus-text h1 span {
        display: inline-block;
        font-size: 45px;
        text-shadow: 2px 2px 5px #000;
        animation: rotate-heading 2s 1s linear forwards;
        opacity: 0;
    }
    
    button {
        position: absolute;
        top: 50%;
        left: 56%;
        transform: translate(-40%, -50%);
        padding: 10px;
        background: none;
        border: none;
        color: #fff;
        font-size: 34px;
        cursor: crosshair;
        z-index: 5;
    }
    
    button:hover~.aboutus-info {
        clip-path: circle(90% at 50%60%);
    }
    
    .aboutus-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 80px 30px;
        background-color: rgba(0, 0, 0, 1);
        color: #fff;
        clip-path: circle(0 at 55% 50%);
        transition: clip-path 0.8s;
    }
    
    nav {
        z-index: 2;
        background-color: rgba(147, 146, 146, .2);
    }
    
    a {
        color: white;
    }
    
    a.account-id:visited {
        color: white;
    }
    
    nav .navbar-brand {
        font-size: 24px;
    }
    
    .nav-link {
        color: white;
    }
    
    .nav-link:hover {
        color: rgb(46, 222, 10);
    }
    
    a.account-id:hover {
        color: rgb(46, 222, 10);
    }
    
    .navbar-brand {
        color: white;
    }
    
    .navbar-brand:hover {
        color: white;
    }
    
    .time {
        padding: 10px 20px;
        color: white;
        border: 2px solid green;
    }
    
    .training-plan {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }
    
    .training-card {
        position: relative;
        margin: 20px 40px;
        width: 350px;
        height: 500px;
        perspective: 800px;
        background-color: rgb(147, 146, 146);
        border: none;
    }
    
    .training-card h3 {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 20px;
        color: rgb(46, 222, 10);
    }
    
    .training-img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background-position: center;
        background-size: cover;
        transition: 0.8s;
    }
    
    .training-img-one {
        background-image: url('../img/beginner.jpg');
    }
    
    .training-img-two {
        background-image: url('../img/semi-pro.jpg');
    }
    
    .training-img-three {
        background-image: url('../img/pro.jpg');
    }
    
    .train-text {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 30px;
        text-align: center;
        border-radius: 15px;
        background-color: rgba(46, 222, 10, 0.8);
        opacity: 0;
        transition: 0.9s;
        color: #fff;
    }
    
    .train-text h2 {
        margin-top: 250px;
        margin-bottom: 20px;
    }
    
    .train-text-one,
    .train-text-two,
    .train-text-three {
        transform: rotateY(-180deg);
    }
    
    .training-card:hover .training-img-one {
        transform: rotateY(180deg);
        opacity: 0;
    }
    
    .training-card:hover .training-img-two {
        transform: rotateY(180deg);
        opacity: 0;
    }
    
    .training-card:hover .training-img-three {
        transform: rotateY(180deg);
        opacity: 0;
    }
    
    .training-card:hover .train-text {
        transform: rotate(0);
        opacity: 1;
    }
    
    .training-card:hover h3 {
        color: transparent;
    }
    
    .media .media-box {
        margin: 20px 10px 20;
        padding: 30px;
        box-shadow: 5px 5px 25px rgba(46, 222, 10, 0.8);
        background-color: #000;
        border-radius: 25px;
        font-size: 32px;
        transition: transform 0.3s;
    }
    
    .media .media-box:hover {
        transform: scale(1.05);
    }
    
    .media .media-box i:hover {
        color: #2ede0a;
    }
    
    .contact {
        display: flex;
        align-items: center;
        position: relative;
        padding: 30px;
        margin-bottom: 30px;
    }
    
    .contact .contact_item {
        font-size: 24px;
        padding: 0 5px;
        background-color: #000;
        border-radius: 8px;
        height: 300px;
        overflow: hidden;
    }
    
    .contact_item:hover {
        box-shadow: 2px 2px 25px rgba(46, 222, 10, 0.8);
        cursor: pointer;
    }
    
    .contact .contact_item h2 {
        margin-top: 20px;
        padding: 10px 5px;
        margin-bottom: 0;
    }
    
    .underline {
        width: 60px;
        height: 4px;
        background-color: rgb(46, 222, 10);
        margin: 0 auto 40px;
    }